<footer>
    <div class="bg-dark">
        <div class="container">
            <div class="row ">
                <div class="col-md-6 col-sm-12 right-footer">
                    <span style="margin-left: 10px;"><a href="{{url_for('contact_us')}}">{{_contact_us}}</a></span>
                    <span><a href="#">{{_about_us}}</a></span>
                </div>
                <div class="col-md-6 col-sm-12 left-footer">
                    <span>{{_copyright}}</span>
                </div>
            </div>
        </div>
    </div>
</footer>